:root{
  --yellow: hsl(47, 88%, 63%);
  --gray-light: hsl(0, 0%, 42%);
  --gray-dark: hsl(0, 0%, 7%);
}
@font-face {
  font-family: figtree-med;
  src: url(assets/Figtree-Medium.ttf);
}
@font-face{
  font-family: figtree-bold;
  src: url(assets/Figtree-ExtraBold.ttf);
}

/* Body */
body {
  font-size: 16px;
  color: var(--dark-gray);
  background: var(--yellow);
  margin: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
  font-family: figtree-med, Arial;
}
.card{
  width: min(360px, 75%);
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--gray-dark);
  box-shadow: 8px 8px var(--gray-dark);
}
.ill{
  width: 100%;
  border-radius: 8px;
}
.state{
  font-family: figtree-bold, Arial;
  background: var(--yellow);
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}
.date{
  margin-top: 0;
}
.title{
  transition: color 0.3s;
  color: var(--gray-dark);
  font-weight: bold;
}
.title:hover{
  transition: color 0.3s;
  color: var(--yellow);
}
.details{
  color: var(--gray-light);
}
.avatar{
  display: flex;
  align-items: center;
  gap: 8px;
}
.avatar img{
  width: 40px;
  height: 40px;
}
.avatar p{
  font-family: figtree-bold;
  font-weight: bold;
}